html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  outline: none;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6rem;
}

// responsive
